*{
    margin:0%;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins';

}
nav{
    background-color: black;
    height:20vh;
    color:white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    align-items: baseline;
    margin: auto;
    padding:0px 30px;
    text-decoration: none;
    
}
nav ul{
    justify-content:center ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    text-decoration: none;
    
}
nav ul li{
    padding-top: 50px;
    padding-left:50px ;
    list-style: none;
    cursor: pointer;
    text-decoration: none;
    color:white;
    
}
a{
    color:white;
    text-decoration: none;  
}
section{
    width:100vw;
    height: 500px;
    text-align: center;
    background-image: url("./images/pic-5.jpeg");
    background-size:cover;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color:white;
}
section div {
    justify-content: baseline;
}
footer{
    padding: 40px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
p{
    margin: 5px;
    font-size: 20px;
}
#section-btn {
    width:150px;
    height: 40px;
    font-size: 20px;
}
footer div {
    display: flex;
    flex-direction: column;
}
footer div p {
    margin-left: 0px;
}
footer div p i {
    padding-right: 20px;
}
div .con3 {
    vertical-align: baseline;
}
.con3 button {
    width: 150px;
    cursor: pointer;
}
.con3 input{
    height:40px;
    width:150px;
    color:red;
    background-color: #29d9d5;
    border: 1px solid #29d9d5;
    border-radius: 10px;
    cursor: pointer;
}
#grid{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    padding: 20px 15px;
    margin: auto;
    gap: 45px;
}
#section-btn {
    width:150px;
    height: 40px;
    font-size: 20px;
}
button{
    height:40px;
    width:90px;
    color:black;
    background-color:white;
    border: 1px solid #29d9d5;
    border-radius: 10px;
    cursor: pointer;
}
header{
    width:100vw;
    height: 500px;
    text-align: center;
    background-image: url("./images/pic-5.jpeg");
    background-size:cover;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color:black;
}




